@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
   font-family: "Montserrat", sans-serif;
}
.container {
  background: linear-gradient(to bottom right, #c2dcf5, #44596d);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items:center;
  justify-content:center;
}

.heading {
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
  color: #364f6b;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 350px;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 40px;
  padding-right: 40px;
  background: linear-gradient(to bottom right, #cbaacd , #cbaacd, #ffffff);
  border-radius: 50px;
  

}

.input {
  padding: 0.75rem;
  border: 3px solid #364f6b;
  color: #364f6b ;
  font-size: medium;
  border-radius: 10px;
  background-color: transparent;
}

.button {
  background: linear-gradient(to  right, #4aF9C8, #4aF9C8, #364F6B);
  color: #364f6b;
  padding: 0.75rem;
  border: none;
  font-weight: 900;
  border-radius: 8px;
  font-size: larger;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.button:hover {
  opacity: 0.95;
}

.button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.link-container {
  display: flex;
  gap: 0.5rem;
  color: #364f6b9d;
  font-size: large;
  text-align: center;
}

.link {
  color: #364F6B; /* Blue 700 */
  text-decoration: none;

}

.error {
  color: #ef4444; /* Red 500 */
  margin-top: 1.25rem;
}

.Header-ctn{
  background: transparent;
  filter: blur(#ffffff9f);
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-div1{
  display: flex;
  align-items: center;
  gap: 50px;
}
.header-div1>img{
  width: 200px;

}
.btn-blue{
  color: #364F6B;
  font-weight: bold;
  font-size: x-large;
  text-decoration: none;

}
.btn-white{
  color: #fff;
  font-weight: bold;
  font-size: x-large;
  text-decoration: none;
 padding-right:10px ;
}
.home-ctn{
  width: 100vw;
  background: linear-gradient(to bottom left, #a4f9c8, #cbaacb  , #a4f9c8, #cbaacb , #364f6b);
  overflow-x: hidden;
}
.home-heroSection{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
}
.home-heroSection-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.home-heroSection-div>img{
  width:500px
}
.home-heroSection>span>h1{
  color: #fff;
  font-size: xxx-large;
  font-weight: bold;
}
.home-heroSection>span>p{
  color: #364F6B;
  padding-top: 10px;
  font-size: xx-large;
}
.home-heroSection-div-button{
  color: #364F6B;
  font-size: medium;
  font-weight: 700;
  padding: 10px;
  background-color: #A4F9C8;
  text-decoration: none;
  border-radius: 50px ;
}
.home-heroSection-div-button:hover{
  opacity: 80%;
}
.blue{
  color: #364F6B;
}
.white{
  color: #fff;
}
.home-div2{
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-div2-div1{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-div2-div1>img{
  width:500px
}
.home-div2-div1>span>h1{
  color: #364F6B;
  font-size: xxx-large;
  font-weight: bold;
}

.home-div2-div1>span>p{
  color: #364F6B;
  font-size: x-large;
  padding: 10px;
}
.home-div2-btn{
  color: #ffffff;
  text-align: center;
  align-self: center;
  margin-top: 100px;
  font-size: medium;
  font-weight: 700;
  padding: 10px;
  background-color: #CBAACB;
  text-decoration: none;
  border-radius: 50px ;
}
.home-div3{
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-div3-div1{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-div3-div1>img{
  width:500px
}
.home-div3-div1>span>h1{
  color: #364F6B;
  font-size: xxx-large;
  font-weight: bold;
}

.home-div3-div1>span>p{
  color: #364F6B;
  font-size: x-large;
  padding: 10px;
}
.home-div3-btn{
  color: #ffffff;
  align-self: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: medium;
  font-weight: 700;
  padding: 10px;
  background-color: #CBAACB;
  text-decoration: none;
  border-radius: 50px ;
}
.home-div4>h1{
  color: #364F6B;
  font-size: xxx-large;
  font-weight: bold;
}
.home-div4{
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.home-div4-div1{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.home-div4-div1>div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.home-div4-div1>div>h3{
  text-align: center;
  color: #fff;
  font-size: large;
  font-weight: 900;
}

.home-div4-div1>div>p{
  text-align: center;
  color: #364F6B;
  font-size: medium;
  font-weight: 600;
}
.home-div4-div1>div>img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
}

.home-footer{
  background-color: #364F6B;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}
.home-footer>img{
  width: 400px;
}
.habits{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, #a4f9c8,  #cbaacb , #425b77);
  overflow-x: hidden;
 

}
.habits-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:100px ;
  padding-bottom:100px ;
  padding-right:50px ;
  padding-left: 50px;
}
.habits-div>img{
  width: 500px;
}
.habits-div>span>h1{
  color: #364F6B;
  font-size: xxx-large;
  font-weight: bold;
  padding-bottom: 10px;
}
.habits-div>span>p{
  color: #4b6a8d;
  font-size: x-large;
}